body {
    background-color: ghostwhite;
    font-size: 14px;
}

.card {
    background-color: #f8f9fa;
}

input[type=file] {
    width: 250px;
    display: block;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}